/* DEFAULT */
:root {
    --color1: #ff6365;
    --bgColor: #683240;
    --color3: #fd9fa1;
    --color4: rgba(0, 0, 0, 0.4);
    --color5: #ffa593;
    --color6: #eac0fc;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    scroll-behavior: smooth;
    white-space: no-wrap;
    background-color: var(--bgColor);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.t {
    font-size: 8vw;
}

.inline {
    display: inline-block;
}

#hero {
    height: 100vh;
    background-color: var(--color3);
    background-image: url(media/effect0.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

#heroContent {
    /* position: absolute; */
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#heroContent > h1 {
    font-weight: 400;
}

#heroContent > h1 > span.t {
  margin-right: min(px, 40vw);
  font-weight: 700;
}



section {
    opacity: initial;
    transition: opacity 500ms;
}

.inactive {
    display: none;
    opacity: 0;
}

.navButton {
    padding: 1vw;
    font-size: 1.3vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    border-radius: 15px;
    border: 0;
    background-color: var(--color4);
    box-shadow: 5px 5px 5px 0px black;
    margin-left: 25px;
    margin-right: 25px;
    transition: box-shadow 100ms;
}

.navImage {
    width: 5vw;
    height: 5vw;
    max-width: 150px;
    max-height: 150px;
}

header {
    background-image: var(--bgImg);
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.headerContent {
    display: flex;
    height: 100%;
    width: 100%;
    background-size: 400% 400%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);

    /* -webkit-box-shadow: inset 0px 0px 46px 10px var(--bgColor);
  -moz-box-shadow: inset 0px 0px 46px 10px var(--bgColor);
  box-shadow: inset 0px 0px 46px 10px var(--bgColor); */
}

.headerContent > h1 {
    font-size: 7vw;
}

.satisfy {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 4px 4px 0 black;
}

.galleryImgs {
    text-align: center;
}

.galleryImg {
    background: rgba(0, 0, 0, 0.3);
    margin: 25px;
    border-radius: 15px;
    padding: 35px;
}

.galleryImg > img {
    border-radius: 25px;
    width: 40vw;
}

.galleryImg > p > a {
    color: var(--color6);
    text-decoration: none;
    font-weight: 650;
}

.mttInner > h1,
.mttInner > p {
    text-align: left;
}

#partnerHeader {
    background: none;
    transition: background 500ms ease;
    background-repeat: no-repeat;
    background-size: cover;
}

.partnerCard {
    padding: 55px;
    margin: 25px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
}

.instagram-text {
    background: linear-gradient(
        to right,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%,
        #fdf497 100%
    );
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 5s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.navButton:active {
    box-shadow: none;
}

#scene {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scene > #divA {
    width: 50%;
    height: 50%;
    border-radius: 25px;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scene > div > .galleryImg {
    position: absolute;
    display: none;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#scene > div > .galleryImg > img {
    width: 20vw;
    position: relative;
}

#scene > div > .galleryImg:nth-child(1) {
    position: absolute;
    display: block;
}

#nextButton {
    position: fixed;
}